/* ----  Body ----*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: #2b2e4a;
    color: #fff;
}

/* ---- All-Section ---- */

#all{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    
}

/* ---- Content-Name ---- */

h1,h2{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
}

/* ---- Questions ---- */

#questions{
    text-align: left;
    margin-top: 5%;
    font-size: 1.4rem;
}
.questions-p{
    margin-top: 4%;
}
#three-one-label-id{
    margin-left: 3%;
}
.sub-questions{
    margin-left: 5%;
    /* margin-right: 15%; */
}

/* ---- Sub Questions ---- */

.sub{
    margin-left: 2%;
}

/* ---- Check Answers ---- */

#checkAnswers{
    display: none;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
}

/* ---- Show Answers ---- */

#showOriginalAnswers{
    display: none;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
}

/* ---- Button ---- */

.button{
    text-align: center;
    margin: 5%;
    margin-bottom: 1%;
    font-size: 2rem;
    
}

.button-class{
    text-align: center;
    margin: 5%;
    font-size: 2rem;
    display: inline-block;
    border-radius: 12px;
    background-color: #ffffff;
    border: none;
    color: #000;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 1% 1%;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
}
input[type=text]:focus {
    background-color: lightblue;
}
.button-class:hover{
    background-color: lightblue;
}

/* .medium-change{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    border-radius: 12px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: bold;
}
.medium-change:hover{
    background-color: lightblue;
} */
a:link, a:visited{
    text-decoration: none;
}
.medium-change {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    border-radius: 12px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: bold;
  }
  
  a:hover, a:active {
    background-color: lightblue;
  }
.my-link{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    transition: all 0.5s;
    cursor: pointer;
}  
/* ---- Footer ---- */

.footer-div{
    text-align: center;
}

/* ---- Media Query ---- */

@media only screen and (max-width: 800px) {
    #all{
      margin-left: 2%;
      margin-right: 2%;
    }
    p{
        font-size: 1.4rem;
    }
    h1,h2{
        font-size: 1.4rem;
    }
    h5{
        font-size: 0.9rem;
    }
    .button-class{
        text-align: center;
        margin: 5%;
        font-size: 2rem;
        display: inline-block;
        border-radius: 12px;
        background-color: #ffffff;
        border: none;
        color: #000000;
        text-align: center;
        font-size: 28px;
        padding: 1% 1%;
        width: 230px;
        transition: all 0.5s;
        cursor: pointer;
    }
    .button{
        text-align: center;
        margin: 3%;
        font-size: 2rem;
        
    }
    .fandd{
        width: 50px;
    }
  }
